{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"extraFileExtensions": [".svelte"]
	},
	"plugins": ["@typescript-eslint", "prettier"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"prettier"
	],
	"rules": {
		"no-console": "off",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"@typescript-eslint/no-explicit-any": "off"
	},
	"overrides": [
		{
			"files": "./apps/client/**",
			"extends": [
				"eslint:recommended",
				"plugin:@typescript-eslint/recommended",
				"plugin:svelte/recommended",
				"prettier"
			],
			"rules": {
				"no-unused-vars": "off",
				"@typescript-eslint/no-unused-vars": [
					"warn", // or "error"
					{
						"argsIgnorePattern": "^_",
						"varsIgnorePattern": "^_",
						"caughtErrorsIgnorePattern": "^_"
					}
				]
			}
		},
		{
			"files": ["*.svelte"],
			"parser": "svelte-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser"
			}
		}
	]
}
